*{
      box-sizing: border-box;
     
  }

#root {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



@font-face{
   font-display: swap;
  font-family: 'Inter';
   font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Inter/inter-v13-cyrillic_latin-regular.woff2') format('woff2'); 
}
/* aclonica-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Aclonica';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Aclonica/aclonica-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

  @font-face{
    font-display: swap;
    font-family: 'Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2') format('woff2'); 
  }

.text-dark{
  color:darkgrey  !important;
}

.bg-dark{
  background-color:#202040 !important;
}

div,section,article,p,h1,h2,h3,h4,h5{
   font-family: Inter !important;
}
 

 i{
  font-family: "Icons" !important;
  margin-bottom: 0;
 }
 .small-ico{
  font-size: 14px;
 }
.big-ico{
  font-size: 22px;
}
.no-margin-bottom{
  margin-bottom: 0;
}

 

.travel-header{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: tomato !important;
}