*{
      box-sizing: border-box;
     
  }

#root {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



@font-face{
   font-display: swap;
  font-family: 'Inter';
   font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Inter/inter-v13-cyrillic_latin-regular.woff2') format('woff2'); 
}
/* aclonica-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Aclonica';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Aclonica/aclonica-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

  @font-face{
    font-display: swap;
    font-family: 'Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2') format('woff2'); 
  }

.text-dark{
  color:darkgrey  !important;
}

.bg-dark{
  background-color:#202040 !important;
}

div,section,article,p,h1,h2,h3,h4,h5{
   font-family: Inter !important;
}
 

 i{
  font-family: "Icons" !important;
  margin-bottom: 0;
 }
 .small-ico{
  font-size: 14px;
 }
.big-ico{
  font-size: 22px;
}
.no-margin-bottom{
  margin-bottom: 0;
}

.travel-header{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: tomato !important;
}

/** M e m e ****/

.meme-header{
  background: rgb(50,0,52) !important;
  background: linear-gradient(90deg, rgba(50,0,52,1) 0%, rgba(153,9,150,1) 100%, rgba(0,212,255,1) 100%) !important;  
}

.text-white{
  color: #f080f0 !important;
}

.parent-form {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 4; }
  .div2 { grid-area: 1 / 5 / 2 / 8; }
  .div3 { grid-area: 3 / 1 / 4 / 8; } 

  .job_hi{
    color: red !important;
  }

  .btn-primary{
    background-color: darkkhaki !important;
    color:darkred !important;
    border:  2px solid darkolivegreen !important;
  }
  .btn-primary:hover{
    
    background-color: cornsilk !important;
    border: 2px solid darkolivegreen !important;
  }

  .ref{
    background-color:lightcoral !important;
    color: #600000 !important; 
    cursor:pointer;
    transition: all ease 300ms;
  }

  .ref:hover{
     background-color:#600000 !important;
    color:lightcoral !important;
  }  

  .ref-active{
    background-color: #ffaaaa !important;
     color: lightcoral !important; 
  }
  .nav{
    background-color: pink;
  }